			<ul>
				<li><a href="{{ site.baseurl }}" title="Code writers">Code blog</a></li>
				<li><a href="http://articles.hipertextos.net" title="Content writers">Content blog</a></li>
				<li><a href="http://code.hipertextos.net/docs/framework.html" title="Our open CSS library">Framework</a></li>
				<li><a href="http://code.hipertextos.net/docs/iching.html" title="Our phylosophy: iChing">Phylosophy</a></li>
				<li><a href="http://code.hipertextos.net/docs/services.html" title="Our services">Services</a></li>
			</ul>