			<ul class="jcollapsed">
				<li><a href="index.html" title="Home">Home</a></li>
				<li><a href="http://articles.hipertextos.net" title="Hipertextos blog">Blog</a></li>
				<li><a href="http://code.hipertextos.net" title="Hipertextos code projects">Code projects</a></li>
				<li><a href="services.html" title="Hipertextos services">Services</a></li>
				<li><a href="iching.html" title="Hipertextos phylosophy">Phylosophy</a></li>
			</ul>
			<h5 class="jtrigger thin">Framework</h5>
			<ul class="jcollapsed">
				<li><a href="framework.html" title="Index">Index</a></li>
				<li><a href="pages.html" title="HTML5 starter">Pages</a></li>
				<li><a href="styles.html" title="CSS base">Styles</a></li>
				<li><a href="scripts.html" title="Simple jQuery">Scripts</a></li>
				<li><a href="icons.html" title="SVG icons injected with jQuery">Icons</a></li>
				<li><a href="anime.html" title="Animations library">Anime</a></li>
				<li><a href="download.html" title="Download Hipertextos Framework">Download</a></li>
			</ul>
			