/* soviet-screen.css */
/* by Circulus Ruber */

/* ------------------------------------------------------------ Resets */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
*,
*:hover,
*:hover:before,
*:hover:after,
*:target,
*:focus {
	/*Transition*/ 
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
::-moz-selection {
	background-color: #dd0000;
	color: #fff;
}
::selection {
	background-color: #dd0000;
	color: #fff;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	background-color: #fff;
	color: #000;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
article,
aside,
blockquote,
cite,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
pre,
section,
summary { 
	display: block;
	position: relative;
}
audio,
canvas,
progress,
video { 
	display: inline-block;
	vertical-align: baseline;
}
[hidden],template { 
	display: none;
}
area, 
audio, 
canvas, 
img, 
map, 
object,
svg,
video {
	max-width: 100%;
}
a, button, select, 
input[type="submit"], 
input[type="button"], 
input[type="checkbox"], 
input[type="radio"], 
input[type="file"], 
summary {
	cursor: pointer;
}

/* ------------------------------------------------------------ Basic Typography */

/* Headings */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	border: 1px solid transparent;
	font-weight: bold;
	line-height: 52px;
	margin: 26px 0 24px;
	padding: 13px 0;
	text-rendering: optimizeLegibility;
}
h4,
h5 {
	line-height: 26px;
}
h1 {
	font-size: 68px;
}
h2 {
	font-size: 52px;
}
h3 {
	font-size: 42px;
}
h4 {
	font-size: 26px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
}
h1 small, 
h2 small, 
h3 small, 
h4 small, 
h5 small, 
h6 small {
	font-size: 50%;
	font-weight: 400;
	letter-spacing: .1em;
}
h1 u, 
h2 u,
h3 u,
h4 u, 
h5 u,
h6 u {
	border-bottom: 1px solid currentColor;
	display: block;
	text-decoration: none;
}
header p {
	letter-spacing: .1em;
}
@media (max-width: 767px) {
	header h1 {
		font-size: 58px;
	}
}
@media (max-width: 480px) {
	header h1 {
		font-size: 42px;
	}
	header h2 {
		font-size: 36px;
	}
	header h3 {
		font-size: 32px;
	}
	header h4 {
		font-size: 20px;
	}
	header h5 {
		font-size: 20px;
	}
	header h6 {
		font-size: 16px;
	}
}

/* Breaks */

hr, 
br {
	height: 26px;
}
hr {
	border-color: transparent;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	clear: both;
	display: block;
	margin-bottom: 26px;
}

/* Paragraphs & text */

abbr[title] {
	border-bottom: thin dotted currentColor;
	cursor: help;
}
address {
	display: inline-block;
	font-style: italic;
}
b {
	font-weight: bold;
}
blockquote, cite {
	font-weight: 200;
	letter-spacing: 1px;
}
blockquote {
	border-left: .5em solid currentColor;
	margin: 26px 0;
	padding: 26px;
}
cite {
	clear: both;
	font-size: 75%;
}
del {
	text-decoration: line-through;
}
em {
	font-style: normal;
}
ins {
	font-style: italic;
	text-decoration: underline;
}
i {
	font-style: italic;
}
kbd {
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 8px;
	display: inline;
	padding: 13px;
}
mark {
	background: inherit;
	border: 1px solid currentColor;
	font-weight: bold;
}
p {
	margin-bottom: 26px;
}
code, pre {
	font-family: Monaco, Menlo, Consolas,'Courier New', monospace;
}
pre {
	background: rgba(255,255,255,.2);
	border: 1px solid currentColor;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
	padding: 24px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}
q {
	letter-spacing: 1px;
}
small {
	font-size: 75%;
	line-height: 26px;
}
strong {
	color: inherit;
	font-weight: 500;
}
sub, sup {

}
sub {
	top: .5ex;
}
sup {
	bottom: 1ex;
}
u {
	text-decoration: underline;
}
time {
	letter-spacing: 1px;
}

/* ------------------------------------------------------------ Lists */

/* Default lists */

ol, ul {
	margin: 0 0 24px;
}
li {
	list-style: disc;
	list-style-position: inside;
	padding-left: 13px;
}
ol li {
	list-style-type: decimal;
}

/* Definition lists */

dt {
	font-weight: bold;
}
dd {
}

/* Summary & details */

summary {
	font-weight: bold;
}
summary:focus {
	outline: 0;
}
details {
	clear: both;
	margin: 0 0 26px;
}

/* ------------------------------------------------------------ Forms */

/* Forms */

button,
input, 
input[type=checkbox], 
input[type=radio], 
input[type=submit], 
input[type=button], 
form, 
legend, 
datalist, 
label, 
select, 
option, 
optgroup, 
textarea {
	font-size: 16px;
	vertical-align: baseline;
}
[type=button],
[type=checkbox],
[type=color],
[type=date],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=radio],
[type=range],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
button,
input, 
fieldset, 
select, 
textarea {
	border: 1px solid currentColor;
	background: transparent;
	color: inherit;
}
[type=search] {
	border-radius: 16px;
}
input:focus, 
textarea:focus {
	border: 1px solid currentColor;
	color: inherit;
	box-shadow: inset 0 0 0.25em rgba(0,0,0,0.1), 0 0 .75em rgba(0,0,0,0.1);
	outline: 0;
}
input:valid {
	
}
input:invalid {
	border: 1px solid currentColor;
	color: red;
}
input[type=radio] {
	border-radius: 50%;
}
input[type=radio]:checked, 
input[type=checkbox]:checked {
	color: green;
}
input[type=range] {
	border-color: transparent;
}
input[type=submit] {
	background: rgba(255,255,255,.9);
}
form { 
	background-color: inherit;
}
fieldset {
	padding: 26px;
	width: 96%;
}
legend { 
	background: inherit;
	font-size: 26px; 
}
label {
	background: transparent;
	padding: 0 6px;
}
progress, meter {
	border: 1px solid currentColor;
	height: 26px;
	margin: 13px 0 2px;
}
meter, progress {

}
progress::-webkit-progress-bar,
meter::-webkit-meter-bar {  
	background: rgba(255,255,255,.8);
}  
progress::-webkit-progress-value {  
	background: red;
}
meter::-webkit-meter-optimum-value {  
	background: green;
}
progress::-moz-progress-bar {  
	background: red;
}
meter::-moz-meter-bar {  
	background: green;
}
progress.blck, meter.blck {
	clear: both;
	width: 100%;
}
select {
	background-color: transparent;
	border: 1px solid currentColor;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select:after {
	border: 1px solid currentColor;
	color: inherit;
	content: "+";
	font-weight: bold;
	display: inline;
	margin-left: 1em;
	padding: 0 .4em;
}
option {}
optgroup {}
textarea {
	cursor: text;
	overflow: auto;
	padding: 13px;
	min-height: 78px;
	width: 100%;
}
textarea:focus,
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
	background-color: rgba(255,255,255,.9);
	box-shadow: inset 0 0 .5em rgba(0,0,0,0.25);
	border-radius: .5em;
	color: rgba(0,0,0,.9);
	position: relative;
	outline: 0;
}
[contenteditable="true"]:active:before,
[contenteditable="true"]:focus:before {
	content:'\270E';
	font-size: 16px;
	position: absolute;
	top: 16px; right: 16px;
}

/* Emphasys forms */

input + em {
	background: rgba(0,0,0,.1);
	border: 1px solid currentColor;
	margin-left: -1px;
	padding: 0 4px;
}
strong input[type=checkbox],
strong input[type=radio] {
	display: none;
}
strong input[type=checkbox] + label:before,
strong input[type=radio] + label:before {
	border: 2px solid currentColor;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	height: 26px;
	margin: -10px 16px 0 0;
	width: 26px;
}
strong input {
	border-bottom: 2px solid currentColor;
	color: inherit;
	display: block;
	padding: 13px 13px 13px 0;
	width: 100%;
}
strong input + label {
	display: inline-block;
	font-weight: bold;
	padding: 13px 0;
}
strong [type=checkbox] + label, 
strong [type=radio] + label {
	cursor: pointer;
}
strong input:focus {
	border-bottom: 2px solid currentColor;
	box-shadow: none;
	color: green;
}
strong input:focus + label {
	color: rgba(0,0,0,.9);
}
strong input[type=radio] + label:before {
	border-radius: 50%;
}
strong input[type=checkbox]:checked + label:before,
strong input[type=radio]:checked + label:before {
	border: 2px solid green;
	color: green;
	content: '\2713';
}
strong select {
	height: 52px;
	width: 100%;
	padding: 13px;
}
@media (max-width: 767px) {
	[type=file] {
		display: none;
	}
}

/* Switcher */

[data-mode=switcher] [type=checkbox] + label,
[data-mode=switcher] [type=checkbox] + label span {
	border: 1px solid currentColor;
	border-radius: 26px;
	cursor: pointer;
	display: inline-block;
	height: 26px;
	padding: 0;
	width: 50px;
}
[data-mode=switcher] [type=checkbox] + label {
	background-color: #ddd;
	margin: -4px 0 18px;
}
[data-mode=switcher] [type=checkbox] + label span {
	background-color: white;
	height: 24px;
	width: 24px;
}
[data-mode=switcher] [type=checkbox]:checked + label {
	background-color: green;
}
[data-mode=switcher] [type=checkbox]:checked + label span {
	margin-left: 26px;
}


/* ------------------------------------------------------------ Tables */

/* Tables */

table, 
caption, 
thead, 
tbody, 
tfoot, 
tr, 
th, 
td {
	border: thin solid transparent;
	font-weight: 200;
	text-align: left;
	vertical-align: top;
}
table {
	background-color: transparent;
	border: 1px solid currentColor;
	border-spacing: 0;
	line-height: 24px;
	width: 100%;
}
tbody {}
caption,
col,
colgroup,
thead, 
tfoot {
	background-color: rgba(255,255,255,.5);
}
td, th {
	border-bottom: 1px solid currentColor;
	padding: 0 13px;
}
th { 
	background: rgba(0,0,0,.2);
	font-weight: bold;
}
tr { }
tr:hover {
	background-color: rgba(255,255,255,.6);
}
tr:nth-child(2n+2) {
	background: rgba(0,0,0,.1);
}
td:hover {
	box-shadow: inset 0 0 .25em rgba(0,0,0,.2);
	color: rgba(0,0,0,.8);
}


/* ------------------------------------------------------------  Navigation */

#site-logo {
	position: absolute;
	left: 0;
	top: 0;
}
#site-logo img {
	border-radius: 50%;
}
nav {
	background-color: inherit;
	border-bottom: 1px solid currentColor;
	line-height: 26px;
	margin-bottom: -1px;
	position: relative;
}
nav a,
nav label {
	border: 1px solid transparent;
	display:inline;
	display: inline-block;
	font-weight: bold;
	padding: 13px;
	text-decoration: none;
}
dialog > nav a,
dialog > nav label,
article > nav a,
article > nav label,
aside > nav a,
aside > nav label,
[data-mode=alert] > nav a,
[data-mode=alert] > nav label {
	border-color: currentColor;
}
nav a:hover,
nav label:hover {
	text-decoration: underline;
}
nav ul {
	border: none;
}
nav ul, nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav li a,
nav li label {
	display: block;
}
nav a img, nav a svg,
nav label img, nav label svg {
	height: 26px;
	margin: 0 13px;
	width: 26px;
}
article > nav,
aside > nav,
dialog > nav {
	border-top: 1px solid currentColor;
	border-bottom: none;
	padding: 13px;
	text-align: right;
}
nav form {
	display: block;
	position: absolute;
	text-align: right;
	top: 7px; right: 0;
}
nav form input {
	border-radius: 18px;
	padding: 6px;
	position: relative;
}
nav form input[type=text] {
	width: 4em;
}
nav form input[type=text]:focus {
	background-color: #fff;
	color: #000;
	width: 100%;
	z-index: 9;
}
nav form input[type=submit] {
	display: none;
	margin-left: -2.3em;
	padding: 6px 12px;
	z-index: 10;
}
nav form input:focus ~ input[type=submit] {
	display: inline-block;
}
nav label {
	cursor: pointer;
}
#site-nav,
#page-nav {
	position: sticky; 
	position: -webkit-sticky; 
	top: 0;
	left: 0;
	z-index: 5;
}
#site-nav div div[hidden],
#page-nav div div[hidden] {
	display: block;
	padding: 0 2em;
	position: relative;
}
#site-nav strong label,
#page-nav strong label {
	display: none;
	padding-right: 26px;
	position: relative;
}
@media (max-width: 767px) {
	nav {
		text-align: center;
	}
	nav form {
		display: block;
		position: relative;
		margin-bottom: 26px;
		text-align: center;
		top: 0;
	}
	#site-nav,
	page-nav {
		position: relative;
	}
	#site-nav div strong label,
	#page-nav div strong label {
		display: inline-block;
	}
	#site-nav div div[hidden],
	#page-nav div div[hidden] {
		display: none;
	}
	#site-nav div div[hidden] a,
	#page-nav div div[hidden] a {
		display: block;
	}
	#site-nav input:checked ~ div[hidden],
	#page-nav input:checked ~ div[hidden] {
		display: block;
	}
}



/* ------------------------------------------------------------ Structure */

header, 
main, 
footer,
article > div,
aside > div,
dialog > div,
section > div {
	border: 1px solid transparent;
	clear: both;
	padding: 25px 13px;
	position: relative;
}
header {
	border-bottom: 1px solid currentColor;
}
footer {
	border-top: 1px solid currentColor;
}
article, aside {
	border: 1px solid currentColor;
}
#site-header > div,
#page-header > div,
#page-main > div,
#site-nav > div,
#page-nav > div,
#page-section > div,
#page-footer > div {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100%;
	max-width: 1400px;
}

/* ------------------------------------------------------------ Emphasys */

/* Emphasys links */

em a,
em label,
em button,
em div a {
	background: rgba(255,255,255,.1);
	border: 1px solid currentColor;
	cursor: pointer;
	display: inline;
	display: inline-block;
	font-size: 16px;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
em small a {
	height: 52px;
	font-size: 16px;
	font-style: normal;
	line-height: 28px;
	padding: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
	width: 52px;
	text-align: center;
}
u em a,
u em label,
u em button {
	border-bottom: 4px solid currentColor;
}
del em a,
ins em a,
del em label,
ins em label,
del em button,
ins em button {
	cursor: progress;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	text-decoration: none;
}
del em a,
del em label,
del em button {
	cursor: not-allowed;
	text-decoration: line-through;
}
em div a {
	display: block;
	text-decoration: none;
}
@media (max-width: 767px) {
	nav [data-mode=menu] em label {
		display: block;
		width: 100%;
	}
}

/* Emphasys links grouped */

strong em a,
strong em small a,
strong em label,
strong em button {
	border-radius: 0;
	float: left;
	margin: 0;
	margin-left: -1px;
	margin-top: -1px;
	position: relative;
}


/* ------------------------------------------------------------ Components */

/* Dialog */

dialog {
	background: #fff;
	border: 1px solid currentColor;
	box-shadow: 0 0 12px rgba(0,0,0,.5);
	display: none;
	position: fixed;
	top: 26px;
	left: 20%;
	right: 20%;
	width: 60%;
	z-index: 10;
}
@media (max-width: 767px) {
	dialog {
		top: 16px;
		left: 5%;
		right: 5%;
		width: 90%;
	}
}

/* Theme switcher */

[data-mode=theme-switcher] {
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 10;
}
[data-mode=theme-switcher] label {
	background-color: #fff;
	border: 4px solid #000;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: block;
	height: 26px;
	width: 26px;
}

/* Menu, collapser, accordion and tabs */

[data-mode=menu] {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
	z-index: 8;
}
[data-mode=menu] em label {
	padding-right: 52px;
}
[data-mode=menu] > nav {
	background-color: #fff;
	border: 1px solid #999;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	position: absolute;
	top: 52px; left: 0;
	width: 100%;
	z-index: 10;
}
[data-mode=menu] nav a {
	border-color: transparent;
	color: #333;
}
[data-mode=collapser] > div,
[data-mode=accordion] ul > li > div,
[data-mode=tabs] ul li > div {
	border: 1px solid currentColor;
	clear: both;
	display: none;
	margin: 0;
	padding: 12px;
}
[data-mode=collapser] em label,
[data-mode=accordion] em label {
	display: block;
	margin: 0;
	position: relative;	
	width: 100%;
}
[data-mode=menu] > ul,
[data-mode=menu] > ul > li,
[data-mode=accordion] > ul,
[data-mode=accordion] > ul > li,
[data-mode=tabs] > ul,
[data-mode=tabs] > ul > li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
[data-mode=tabs] > nav > label,
[data-mode=tabs] > nav > label:hover {
	border-bottom: none;
	box-shadow: none;
	color: inherit;
}
input:checked ~ dialog,
[data-mode=menu] input:checked ~ nav[hidden],
[data-mode=collapser] input:checked ~ div[hidden],
[data-mode=accordion] li input:checked ~ div[hidden],
[data-mode=tabs] input:checked ~ div[hidden] {
	display: block;
}
@media (max-width: 767px) {
	[data-mode=tabs] nav a,
	[data-mode=tabs] nav label {
		display: inline-block;
		margin-bottom: -2px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 18%;
	}
}

/* Flip card */

[data-mode=flip] {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	width: 99%;
	height: 25em;
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}
[data-mode=flip] article,
[data-mode=flip] aside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
[data-mode=flip] header {
	height: 8em;
	overflow: hidden;
	padding: 0 12px;
}
[data-mode=flip] article > div,
[data-mode=flip] aside > div {
	height: 15em;
	overflow-x: auto;
}
[data-mode=flip] article {
	z-index: 8;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
}
[data-mode=flip] input:checked ~ article {
	z-index: 8;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
[data-mode=flip] aside {
	float: none;
	z-index: 7;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(179deg);
	transform: rotateY(179deg);
}
[data-mode=flip] input:checked ~ aside {
	z-index: 9;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
}

/* Alert */

input:checked ~ [data-mode=alert] {
	display: none;
}

/* Slider */

[data-mode=slider],
[data-mode=slideshow] {
	position: relative;
}
[data-mode=slider] li div[hidden] {
	display: none;
    opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	z-index: 1;
}
[data-mode=slider] li input:checked ~ div[hidden] {
	display: block;
    opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=1);
	z-index: 8;
}
[data-mode=slideshow],
[data-mode=slideshow] img,
[data-mode=slider],
[data-mode=slider] ul,
[data-mode=slider] ul li,
[data-mode=slider] div,
[data-mode=slider] div > img {
	display: block;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
[data-mode=slider] nav {
	border: none;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
[data-mode=slider] nav label,
[data-mode=slider] nav a {
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	padding: 0;
	height: 1em;
	width: 1em;
}
[data-mode=slider] div label {
	background-color: #fff;
	color: #333;
	cursor: pointer;
	height: 52px;
	width: 52px;
	padding: 12px;
	text-align: center;
	position: absolute;
	top: 40%;
}
[data-mode=slider] div label:hover {
	background: rgba(255,255,255,.4);
}
[data-mode=slider] div[hidden] label:first-child {
	left: 0;
}
[data-mode=slider] div[hidden] label:last-child {
	right: 0;
	left: auto;
}

/* Tooltip */

[data-mode=tooltip],
[data-mode=tooltip] a {
	position: relative;
}
[data-mode=tooltip]:hover:before,
[data-mode=tooltip] a:hover:before {
	background: rgba(255,255,255,.8);
	border: 1px solid currentColor;
	box-shadow: 0 0 .25em rgba(0,0,0,.2);
	content: attr(data-title);
	cursor: pointer;
	min-width: 10em;
	padding: 12px;
	position: absolute;
	top: -1px; left: 100%;
	text-shadow: 0 0 0 transparent;
	z-index: 5;
}

/* Dismiss labels */

dialog > label,
[data-mode=alert] > label,
[data-mode=flip] article > label,
[data-mode=flip] aside > label {
	border: 1px solid currentColor;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	font-size: 26px;
	font-weight: bold;
	height: 42px;
	line-height: 36px;
	width: 42px;
	text-align: center;
	z-index: 2;
	position: absolute;
	top: 4px;
	right: 4px;
}

/* Mark */

nav strong label mark,
[data-mode=menu] mark,
[data-mode=collapser] mark,
[data-mode=accordion] mark {
	border-top: 8px solid currentColor;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: none;
	color: inherit;
	content:'';
	position: absolute;
	right: 16px;
	top: 24px;
	vertical-align: middle;
}
	#site-nav input:checked ~ mark {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	}
nav strong label mark {
	right: 4px;
}

/* Condensed headers */

dialog header,
[data-mode=alert] header,
[data-mode=flip] header {
	padding: 0 13px;
}


/* ------------------------------------------------------------ Media */

img, svg {
	fill: currentColor;
	stroke: transparent;
	height: auto;
	width: auto;
	max-width: 100%;
}
nav a img,
nav a svg {
	height: 26px;
	margin: -6px 0;
	width: 26px;
}
h1 img,
h1 svg,
h2 img,
h2 svg,
h3 img,
h3 svg,
h4 img,
h4 svg,
h5 img,
h5 svg,
h6 img,
h6 svg {
	float: left;
	height: 78px;
	margin: -13px 26px 13px 0;
	width: 78px;
}
em a img,
em a svg,
em label img,
em label svg,
button img,
button svg {
	height: 26px;
	margin: -4px 4px -8px -4px;
	width: 26px;
}
em small a img,
em small a svg {
	height: 100%;
	margin: 0px;
	width: 100%;
}

/* ------------------------------------------------------------ Load fadeIn animation */

#site-nav,
#page-nav,
#page-header,
#page-main,
#page-footer,
#page-nav *,
#page-header *,
#page-main *,
#page-footer * {
	-webkit-animation: fadeIn .5s ease both;
	-moz-animation: fadeIn .5s ease both;
	animation: fadeIn .5s ease both;
}
#page-header * {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	animation-delay: .5s;
}
#page-nav * {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#page-main > div,
#page-footer > div {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
dialog,
[data-mode=menu] nav,
[data-mode=collapser] div {
	-webkit-animation: moveFromTop .7s ease both;
	-moz-animation: moveFromTop .7s ease both;
	animation: moveFromTop .7s ease both;
}
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
}
@-moz-keyframes fadeIn {
	from { opacity: 0; }
}
@keyframes fadeIn {
	from { opacity: 0; }
}
@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTop {
	from { -moz-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { transform: translateY(-100%); }
}

/* ------------------------------------------------------------  Links & buttons */

/* Links */

a:hover, a:active, a:visited {
	text-decoration: underline;
	-moz-opacity: 0.9;
	opacity: 0.9;
}
h1 a:not(:hover), 
h2 a:not(:hover), 
h3 a:not(:hover),
h4 a:not(:hover), 
h5 a:not(:hover), 
h6 a:not(:hover),
a:after, 
a:before,
nav a:not(:hover) {
	text-decoration: none !important;
}

/* ------------------------------------------------------------ Skin */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

/* Light theme (default) */

#page {
	background-color: #fff;
	color: #000;
}
a {
	color: #3D72A4;
}
a:visited,
em a:visited {
	color: #dd0000;
}
a:visited svg {
	fill: #dd0000;
}
nav label:hover,
a:hover,
a:visited:hover {
	color: green;
}
a:hover svg {
	fill: green;
}
a:active,
a:visited:active {
	color: purple;
}
a:visited:active svg {
	fill: purple;
}
nav a:hover,
nav label:hover {
	background-color: rgba(0,0,0,.05);
}

/* Dark theme */

#theme:checked ~ #page,
#theme:checked ~ #site-nav,
#theme:checked ~ #page-nav {
	background-color: #111;
	color: #eee;	
}
#theme:checked ~ #page a {
	color: #edf3ff;	
}
#theme:checked ~ #page a:visited,
#theme:checked ~ #page em a:visited {
	color: #ccd4e2;
}
#theme:checked ~ #page a:visited svg {
	fill: #ccd4e2;
}
#theme:checked ~ #page nav label:hover,
#theme:checked ~ #page a:hover,
#theme:checked ~ #page a:visited:hover {
	color: green;
}
#theme:checked ~ #page a:hover svg {
	fill: green;
}
#theme:checked ~ #page a:active,
#theme:checked ~ #page a:visited:active {
	color: purple;
}
#theme:checked ~ #page a:visited:active svg {
	fill: purple;
}
#theme:checked ~ #page nav a:hover,
#theme:checked ~ #page nav label:hover {
	background-color: rgba(255,255,255,.1);
}

/* Emphatic link colors (important reset) */

em a,
em label, 
em button,
em a:visited,
nav a,
nav label {
	color: inherit;
}
