/* BarcelonaCSS */
/* by Acozar/Miralles */

/* ------------------------------------------------------------ Resets */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
*,
*:hover,
*:hover:before,
*:hover:after,
*:target,
*:focus {
	/*Transition*/ 
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
::-moz-selection {
	background-color: #dd0000;
	color: rgba(255,255,255,1);
}
::selection {
	background-color: #dd0000;
	color: rgba(255,255,255,1);
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 32px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	vertical-align: baseline;
}
article,
aside,
blockquote,
cite,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
pre,
section,
summary { 
	display: block;
	position: relative;
}
audio,
canvas,
progress,
video { 
	display: inline-block;
	vertical-align: baseline;
}
[hidden],template { 
	display: none;
}
area, 
audio, 
canvas, 
img, 
map, 
object,
svg,
video {
	max-width: 100%;
}
a, button, select, 
input[type="submit"], 
input[type="button"], 
input[type="checkbox"], 
input[type="radio"], 
input[type="file"], 
summary {
	cursor: pointer;
}

/* ------------------------------------------------------------ Basic Typography */

/* Headings */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	border: 1px solid transparent;
	font-weight: bold;
	line-height: 64px;
	margin: 0 0 30px;
	padding: 0;
	text-rendering: optimizeLegibility;
}
h4,
h5,
h6 {
	line-height: 32px;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.8em;
}
h5 {
	font-size: 1.6em;
}
h6 {
	font-size: 1em;
}
h1 small, 
h2 small, 
h3 small, 
h4 small, 
h5 small, 
h6 small {
	font-size: 50%;
	font-weight: 400;
	letter-spacing: .1em;
}
header p {
	letter-spacing: .1em;
}
h1 u,
h2 u,
h3 u,
h4 u,
h5 u,
h6 u {
	text-decoration: none;
}
h1 u:after,
h2 u:after,
h3 u:after,
h4 u:after,
h5 u:after,
h6 u:after {
	border: 4px solid currentColor;
	content: ' ';
	display: block;
	position: absolute;
	left: 0; right: 0;
	width: 99%;
}
@media (max-width: 767px) {
	h1 {
		font-size: 2em;
		line-height: 48px;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.4em;
	}
	h5 {
		font-size: 1.2em;
	}
	h6 {
		font-size: 1em;
	}
	h2, 
	h3 {
		line-height: 32px;
	}
	h4,
	h5,
	h6 {
		line-height: 24px;
	}
}

/* Breaks */

hr, 
br {
	border: 1px solid transparent;
	height: 32px;
}
hr {
	clear: both;
	display: block;
	margin-bottom: 30px;
}

/* Paragraphs & text */

abbr[title] {
	border-bottom: thin dotted currentColor;
	cursor: help;
}
address {
	display: inline-block;
	font-style: italic;
}
b {
	font-weight: bold;
}
blockquote, cite {
	font-weight: 200;
	letter-spacing: 1px;
}
blockquote {
	border-left: .5em solid currentColor;
	margin: 32px 0;
	padding: 32px;
}
cite {
	clear: both;
	font-size: 75%;
}
del {
	text-decoration: line-through;
}
em {
	font-style: normal;
}
ins {
	font-style: italic;
	text-decoration: underline;
}
i {
	font-style: italic;
}
kbd {
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 4px;
	display: inline;
	padding: .15em .25em;
}
mark {
	background: inherit;
	border: 1px solid currentColor;
	font-weight: bold;
}
p,
pre,
code {
	font-size: 20px;
	line-height: 32px;
}
code, 
pre {
	font-family; Monaco, Menlo, Consolas,'Courier New', monospace;
}
pre {
	background: rgba(255,255,255,.5);
	border: 1px solid currentColor;
	padding: 0 4px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	width: 100%;
}
q {
	letter-spacing: 1px;
}
small {
	font-size: 15px;
	line-height: 32px;
}
strong {
	color: inherit;
	font-weight: 500;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
}
sub {
	top: .5ex;
}
sup {
	bottom: 1ex;
}
u {
	text-decoration: underline;
}
time {
	letter-spacing: 1px;
}

/* ------------------------------------------------------------ Lists */

/* Default lists */

ol, ul {
	border: 1px solid transparent;
	line-height: 32px;
	margin: 0 0 30px;
}
li {
	list-style: disc;
	list-style-position: inside;
	padding-left: 15px;
}
ol li {
	list-style-type: decimal;
}

/* Definition lists */

dt {
	border: 1px solid transparent;
	font-weight: bold;
}
dd {
	border: 1px solid transparent;
}

/* Summary & details */

summary {
	border: 1px solid transparent;
	font-weight: bold;
}
summary:focus {
	outline: 0;
}
details {
	clear: both;
}

/* ------------------------------------------------------------ Forms */

/* Forms */

button,
input, 
form, 
legend, 
datalist, 
label, 
legend,
select, 
option, 
optgroup,
select, 
textarea,
[contenteditable="true"] {
	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
	position: relative;
}
button,
input,
textarea {
	background-color: rgba(255,255,255,.5);
}

/* Input */

input,
select {
	height: 32px;
	padding: 0 16px;
}
input:invalid {
	border: 1px solid currentColor;
	color: rgba(0,0,0,1);
}
input[type=radio] {
	border-radius: 50%;
}
input[type=radio]:checked, 
input[type=checkbox]:checked {
	color: rgba(50,164,89,1);
}
input[type=range] {
	border-color: transparent;
}
input[type=submit] {
	background: rgba(255,255,255,.5);
}

/* Form & fieldset */

fieldset,
form { 
	background-color: inherit;
	width: 100%;
}
fieldset,
label {
	background: transparent;
	padding: 0 4px;
}

/* Indicators */

progress, meter {
	border: 1px solid currentColor;
	height: 32px;
	margin: 30px 0;
	width: 100%;
}
progress::-webkit-progress-bar,
meter::-webkit-meter-bar {  
	background: rgba(150,150,150,1);
}  
progress::-webkit-progress-value {  
	background: rgba(50,122,174,1);
}
meter::-webkit-meter-optimum-value {  
	background: rgba(50,164,89,1);
}
progress::-moz-progress-bar {  
	background: rgba(0,0,0,1);
}
meter::-moz-meter-bar {  
	background: rgba(50,164,89,1);
}

/* Select */

select {
	background-color: transparent;
	border: 1px solid currentColor;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select:after {
	border: 1px solid currentColor;
	color: inherit;
	content: "+";
	font-weight: bold;
	display: inline;
	margin-left: 1em;
	padding: 0 .4em;
}
option {}
optgroup {}
textarea {
	border: 1px solid currentColor;
	cursor: text;
	overflow: auto;
	padding: 0 16px;
	width: 100%;
}

/* Focused input & textarea */

input:focus,
textarea:focus,
[contenteditable="true"]:focus {
	border-radius: 4px;
	box-shadow: inset 0 0 0.25em rgba(0,0,255,0.1), 0 0 .15em rgba(50,122,174,1);
	color: inherit;
	outline: 0;
}
[contenteditable="true"]:focus:before {
	content:'\270E';
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 32px;
	position: absolute;
	top: 0; right: 2px;
}

/* Input and emphatic info */

input + em {
	background: rgba(0,0,0,.5);
	border: 1px solid currentColor;
	color: rgba(255,255,255,1);
	margin-left: -1px;
	padding: calc(3 * 1px) 16px;
}

/* strong input, radio & checkbox */

strong input[type=checkbox],
strong input[type=radio] {
	display: none;
}
strong input[type=checkbox] + label:before,
strong input[type=radio] + label:before {
	border: 2px solid currentColor;
	content: ' ';
	cursor: pointer;
	display: block; 
	float: left;
	font-size: 32px;
	font-weight: bold;
	height: 30px;
	margin: 0 1em 0 0;
	width: 30px;
}
strong input {
	border-bottom: 1px solid currentColor;
	color: inherit;
	display: block;
	padding: 32px;
	width: 100%;
}
strong input + label {
	display: block;
	font-weight: bold;
	padding: 32px 0;
}
strong [type=checkbox] + label, 
strong [type=radio] + label {
	cursor: pointer;
}
strong input:focus {
	border-left: 5px solid currentColor;
	box-shadow: none;
	color: rgba(50,164,89,1);
}
strong input:focus + label {
	color: rgba(50,164,89,1);
}
strong input[type=radio] + label:before {
	border-radius: 50%;
}
strong input[type=checkbox]:checked + label,
strong input[type=radio]:checked + label {
	color: rgba(50,164,89,1);
}
strong input[type=checkbox]:checked + label:before,
strong input[type=radio]:checked + label:before {
	border: 2px solid rgba(50,164,89,1);
	color: rgba(50,164,89,1);
	content: '\2713';
}
strong select {
	height: 64px;
	width: 100%;
}

/* Switcher */

[data-mode=switcher] [type=checkbox] + label,
[data-mode=switcher] [type=checkbox] + label span {
	border: 1px solid currentColor;
	border-radius: 32px;
	cursor: pointer;
	display: block;
	float: left;
	height: 32px;
	margin-right: 1em;
	padding: 0;
	width: 64px;
}
[data-mode=switcher] [type=checkbox] + label {
	background-color: #ddd;
}
[data-mode=switcher] [type=checkbox] + label span {
	background-color: white;
	height: 32px;
	width: 32px;
}
[data-mode=switcher] [type=checkbox]:checked + label {
	background-color: rgba(50,164,89,1);
	color: rgba(50,164,89,1);
}
[data-mode=switcher] [type=checkbox]:checked + label span {
	margin-left: 32px;
}


/* ------------------------------------------------------------ Tables */

/* Tables */

table, 
caption, 
thead, 
tbody, 
tfoot, 
tr, 
th, 
td {
	border: thin solid transparent;
	font-weight: 200;
	text-align: left;
	vertical-align: top;
}
table {
	background-color: transparent;
	border: 1px solid currentColor;
	border-spacing: 0;
	line-height: 64px;
	margin: 7px 0;
	width: 100%;
}
tbody {}
caption,
col,
colgroup,
thead, 
tfoot {
	background-color: rgba(255,255,255,.5);
}
td, th {
	border-bottom: 1px solid currentColor;
	padding: 0 15px;
}
th { 
	background: rgba(255,255,255,.5);
	font-weight: bold;
}


/* ------------------------------------------------------------ Emphasys */

/* Emphasys links */

em a,
em label,
em button,
em div a {
	background: rgba(255,255,255,.5);
	border: 1px solid currentColor;
	cursor: pointer;
	display: inline;
	display: inline-block;
	font-size: 20px;
	line-height: 32px;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
em small a,
em small button,
em small label {
	height: 64px;
	font-size: 20px;
	font-style: normal;
	line-height: 32px;
	padding: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
	width: 64px;
	text-align: center;
}
u em a,
u em button,
u em  label {
	box-shadow: inset 0 -2px 1px currentColor;
}
del em a,
ins em a,
del em label,
ins em label,
del em button,
ins em button {
	cursor: progress;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	text-decoration: none;
}
del em a,
del em label,
del em button {
	cursor: not-allowed;
	text-decoration: line-through;
}
em div a {
	display: block;
	text-decoration: none;
}
@media (max-width: 767px) {
	nav [data-mode=menu] em label {
		display: block;
		width: 100%;
	}
}

/* Emphasys links grouped */

strong em a,
strong em small a,
strong em label,
strong em button {
	border-radius: 0;
	float: left;
	margin: 0;
	margin-left: -1px;
	margin-top: -1px;
	position: relative;
}


/* ------------------------------------------------------------  Navigation */


nav {
	background-color: ;
	border-bottom: 1px solid currentColor;
	display: block;
	line-height: 32px;
	margin-bottom: -15px;
	position: relative;
}
nav a,
nav label {
	border: 1px solid transparent;
	display:inline;
	display: inline-block;
	font-weight: bold;
	padding: 15px;
	text-decoration: none;
}
article > nav a,
article > nav label,
aside > nav a,
aside > nav label {
	border-color: currentColor;
}
nav a:hover,
nav label:hover {
	text-decoration: underline;
}
nav ul {
	border: 1px solid transparent;
	padding: 0 0 15px;
}
nav li {
	list-style: none;
}
nav li a,
nav li label {
	display: block;
}
nav a img, nav a svg,
nav label img, nav label svg {
	height: 20px;
	margin: 0 15px;
	width: 20px;
}
article footer + nav,
aside footer + nav,
section footer + nav,
dialog > nav {
	border-top: 1px solid currentColor;
	border-bottom: 1px solid transparent;
	padding: 20px;
	text-align: right;
}

/* Nav input search */

nav form {
	display: block;
	position: absolute;
	text-align: right;
	top: 15px;
	right: 0;
	width: 8em;
	z-index: 2;
}
nav li form {
	position: relative;
	text-align: left;
	width: 100%;
}
nav form input,
nav form input:focus {
	background-color: rgba(255,255,255,1);
	border-radius: 20px;
	position: relative;
	text-align: center;
}
nav form input[type=text] {
	width: 5em;
}
nav form input[type=text]:focus {
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
	width: 100%;
	z-index: 9;
}
nav form input[type=submit] {
	background: rgba(255,255,255,1);
	border: 2px solid currentColor;
	color: rgba(150,150,150,1);
	display: none;
	height: 42px; 	
	line-height: 32px; 	
	margin-left: -2.25em;
	padding: 0 15px;
	z-index: 10;
}
nav form input:focus ~ input[type=submit] {
	display: inline-block;
}
nav label {
	cursor: pointer;
}

/* Nav small devices */

@media (max-width: 767px) {
	nav {
		text-align: center;
	}
	nav form {
		display: block;
		position: relative;
		margin-bottom: 32px;
		text-align: center;
		top: 0;
		width: 100%;
	}
	nav form input[type=text]:focus {
		width: 80%;
	}
	footer nav a {
		display: inline-block;
	}
}



/* ------------------------------------------------------------ Structure */

header, 
main, 
footer,
article > div,
aside > div,
dialog > div,
section > div {
	border: 1px solid transparent;
	clear: both;
	padding: 30px 0 15px;
	position: relative;
}
header {
	border-bottom: 1px solid currentColor;
}
footer {
	border-top: 1px solid currentColor;
}
article, aside {
	border: 1px solid currentColor;
}
#site-header > div,
#page-header > div,
#page-main > div,
#site-nav > div,
#page-nav > div,
#page-section > div,
#page-footer > div,
[id*='page-section'] > div {
	margin: 0 auto;
	padding: 0 16px;
	position: relative;
	width: 100%;
	max-width: 1200px;
}
dialog header,
dialog > div,
dialog footer,
article header,
article > div,
article footer,
aside header,
aside > div,
aside footer,
section header,
section > div,
section footer {
	padding-left: 7px;
	padding-right: 7px;
}
#page-footer {
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
}

/* ------------------------------------------------------------ Media */


/* Images */

img, svg {
	fill: currentColor;
	stroke: transparent;
	height: auto;
	width: auto;
	max-width: 100%;
}
nav a img,
nav a svg {
	height: 32px;
	margin: -.5em 0;
	width: 32px;
}
h1 img,
h1 svg,
h2 img,
h2 svg,
h3 img,
h3 svg,
h4 img,
h4 svg,
h5 img,
h5 svg,
h6 img,
h6 svg {
	float: left;
	height: 64px;
	margin: -.5em 32px .5em 0;
	width: 64px;
}
em a img,
em a svg,
em label img,
em label svg,
button img,
button svg {
	height: 32px;
	margin: -.25em .25em -.5em -.25em;
	width: 32px;
}
em small a img,
em small a svg {
	height: 100%;
	margin: 0px;
	width: 100%;
}

/* Figures */

figure {
	border: 1px solid transparent;
	padding: 0;
}
figure img {
	height. auto;
	width: 100%;
}
figure figcaption {
	background: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	line-height: 32px;
	text-align: center;
	padding: 4px;
	position: absolute;
	bottom: 0; left: 0; right: 0;
}

/* Video */

figure div {
	clear: both;
	margin-bottom: 1;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}
figure div iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ------------------------------------------------------------  Links & buttons */

/* Links */

a:hover, a:active, a:visited {
	text-decoration: underline;
	-moz-opacity: 0.9;
	opacity: 0.9;
}
h1 a:not(:hover), 
h2 a:not(:hover), 
h3 a:not(:hover),
h4 a:not(:hover), 
h5 a:not(:hover), 
h6 a:not(:hover),
a:after, 
a:before,
nav a:not(:hover) {
	text-decoration: none !important;
}

/* ------------------------------------------------------------ Skin */

/* Light theme (default) */

#page {
	background: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
}
a {
	color: rgba(50,122,174,1);
}
a:visited,
em a:visited {
	color: rgba(221,0,0,1);
}
a:visited svg {
	fill: rgba(221,0,0,1);
}
nav label:hover,
a:hover,
a:visited:hover,
em button:hover,
em label:hover {
	color: rgba(50,122,174,1);
}
a:hover svg {
	fill: rgba(50,122,174,1);
}
a:active,
a:visited:active {
	color: rgba(115,44,147,1);
}
a:visited:active svg {
	fill: rgba(115,44,147,1);
}
nav a:hover,
nav label:hover {
	border: 1px solid currentColor;
}

/* Soft theme */

#theme-soft:checked ~ #page,
#theme-soft:checked ~ #site-nav,
#theme-soft:checked ~ #page-nav {
	background-color: rgba(247,246,255,1);
	color: rgba(89,81,147,1);	
}
#theme-soft:checked ~ #page a {
	color: rgba(100,100,255,1);	
}
#theme-soft:checked ~ #page em a,
#theme-soft:checked ~ #page em label,
#theme-soft:checked ~ #page em button {
	background-color: rgba(214,208,255,1);
	color: rgba(89,81,147,1);	
}
#theme-soft:checked ~ #page a:visited,
#theme-soft:checked ~ #page em a:visited {
	color: rgba(244,82,15,1);
}
#theme-soft:checked ~ #page a:visited svg {
	fill: rgba(221,0,0,1);
}
#theme-soft:checked ~ #page nav label:hover,
#theme-soft:checked ~ #page a:hover,
#theme-soft:checked ~ #page a:visited:hover {
	color: rgba(50,122,174,1);
}
#theme-soft:checked ~ #page a:hover svg {
	fill: rgba(50,122,174,1);
}
#theme-soft:checked ~ #page a:active,
#theme-soft:checked ~ #page a:visited:active {
	color: rgba(115,44,147,1);
}
#theme-soft:checked ~ #page a:visited:active svg {
	fill: rgba(115,44,147,1);
}
#theme-soft:checked ~ #page nav a:hover,
#theme-soft:checked ~ #page nav label:hover {
	background-color: rgba(255,255,255,.5);
}

/* Dark theme */

#theme-dark:checked ~ #page,
#theme-dark:checked ~ #site-nav,
#theme-dark:checked ~ #page-nav {
	background-color: rgba(10,10,10,1);
	color: rgba(255,255,255,1);	
}
#theme-dark:checked ~ #page a {
	color: rgba(255,255,255,1);	
}
#theme-dark:checked ~ #page em a,
#theme-dark:checked ~ #page em label,
#theme-dark:checked ~ #page em button {
	background-color: rgba(90,90,90,1);
	color: rgba(220,220,220,1);	
}
#theme-dark:checked ~ #page a:visited,
#theme-dark:checked ~ #page em a:visited {
	color: rgba(244,82,15,1);
}
#theme-dark:checked ~ #page a:visited svg {
	fill: rgba(221,0,0,1);
}
#theme-dark:checked ~ #page nav label:hover,
#theme-dark:checked ~ #page a:hover,
#theme-dark:checked ~ #page a:visited:hover {
	color: rgba(255,255,255,1);
}
#theme-dark:checked ~ #page a:hover svg {
	fill: rgba(255,255,255,1);
}
#theme-dark:checked ~ #page a:active,
#theme-dark:checked ~ #page a:visited:active {
	color: rgba(115,44,147,1);
}
#theme-dark:checked ~ #page a:visited:active svg {
	fill: rgba(115,44,147,1);
}
#theme-dark:checked ~ #page nav a:hover,
#theme-dark:checked ~ #page nav label:hover {
	background-color: rgba(255,255,255,.5);
}

/* Emphatic link colors (important reset) */

em a,
em label, 
em button,
em a:visited,
nav a,
nav label {
	color: inherit;
}
	
/* The end */