---
layout: default
---
			<div class="cell-2">
				<div class="white-space xl"></div>
				<div class="button-centered">
					<a class="button-icon circled lines grey anm-zoomInLeft delay-100" href="http://hipertextos.net/docs/framework.html" title="Hipertextos framework">Framework</a>
					<a class="button-icon circled lines green anm-zoomInLeft delay-200" href="http://hipertextos.net/docs/pages.html" title="Hipertextos pages">pages</a>
					<a class="button-icon circled lines blue anm-zoomInLeft delay-300" href="http://hipertextos.net/docs/styles.html" title="Hipertextos styles">styles</a>
					<a class="button-icon circled lines violet anm-zoomInLeft delay-400" href="http://hipertextos.net/docs/effecss.html" title="Hipertextos effecss">effecss</a>
					<a class="button-icon circled lines orange anm-zoomInLeft delay-500" href="http://hipertextos.net/docs/anime.html" title="Hipertextos anime">anime</a>
					<a class="button-icon circled lines red anm-zoomInLeft delay-600" href="http://hipertextos.net/docs/icons.html" title="Hipertextos icons">icons</a>
					<a class="button-icon circled lines yellow anm-zoomInLeft delay-700" href="http://hipertextos.net/docs/download.html" title="Hipertextos get">get</a>
				</div>
			</div>
			<div class="cell-8">
				<article class="anm-zoomInUp">
				  	<header>
						<h2 class="universe thin">{{ page.title }}</h2>
						<p class="universe thin l">Written on {{ page.date | date: "%B %e, %Y" }}</p>
					</header>
					<div class="entry">
					{{ content }}
					</div>
					<hr>
					{% include disqus.html disqus_identifier=page.disqus_identifier %}
				</article>
			</div>
			<div class="cell-2">
				<div class="white-space xl"></div>
				<div class="button-centered">
					<a href="http://twitter.com/?status={{ site.baseurl }}{{ post.url }}" class="button-icon lines soft-blue anm-zoomInRight delay-200" title="Comparteix a Twitter">Tw</a><br class="hidden-phone">
					<a href="http://www.facebook.com/sharer.php?u={{ site.baseurl }}{{ post.url }}&t={{ post.title }}" class="button-icon lines blue anm-zoomInRight delay-300" title="Comparteix a Facebook">Fb</a><br class="hidden-phone">
					<a href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ site.baseurl }}{{ post.url }}" class="button-icon lines red anm-zoomInRight delay-400" title="Comparteix a Google +">G+</a>
				</div>
			</div>
			<hr>